<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>
<body>
<table border="1" cellpadding="2" class="table table-hower">
  <thead class="thead-dark">
<tr>
    <th>ID</th>
    <th>Topic</th>
    <th>Author</th>
    <th>ECommerce</th>
</tr>
</thead>
<tbody>
<tr>
    <td scope="col" th:text="${blog.id}"></td>
    <td scope="col" th:text="${blog.topic}"></td>
    <td scope="col" th:text="${blog.author}"></td>
    <td scope="col" th:text="${blog.eCommerce.name}"></td>
</tr>
</tbody>
</table>
</body>
</html>