<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>

<body>
<!--<form>-->
<!--    <label>Search By Author</label>-->
<!--    <input type="text" name="author" placeholder="author">-->
<!--    <input type="submit">-->
<!--&lt;!&ndash;    <input type="text" placeholder="ecommerce">&ndash;&gt;-->
<!--</form>-->
<form>
    <label>Filter by Ecommerce</label>
    <!--    th:value khi tìm kiếm thì vẫn để tên ở trên thanh-->
    <select onchange="this.form.submit()" th:name="ecomId" th:value="${ecomId}">
        <option value="" disabled selected>Choose something</option>
        <!--        th:block cũng giống như thẻ div-->
        <th:block th:each="ecom : ${ecommers}">
            <option th:value="${ecom.id}" th:text="${ecom.name}"></option>
        </th:block>
    </select>
</form>


<form>
    <label></label>
</form>

<a th:href="@{/create}">Create new Blog</a>
<!--String id, String title, String content-->
Author : <input type="text" id="author" oninput="searchByAuthor()">
</br>
<button onclick="searchByAuthor();">Search</button>
<table border="1" cellpadding="2" class="table table-hower">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Topic</th>
        <th scope="col">Author</th>
        <th scope="col">ECommerce</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
        <th scope="col">Detail</th>
    </tr>
    </thead>
    <tbody id="result">
    <!-- int id, String topic, String author, ECommerce eCommerce-->
    </tbody>
    <!--        Quay trở về trang 1 :-->
    <!--    hasPrevious trả về boolen nếu có trang trước thì trả về true th:if,còn ko có trang trước trả về false -->


</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<button id="btn-more" onclick="loadMore();">Load More</button>
<script>
    function searchByAuthor() {
        let blogAuthor = $("#author").val();
        $.ajax({
            url: "http://localhost:8080/api/blog/search",
            data: {
                author: blogAuthor
            },
            type: "get",
            dataType: "json",


            success: function (res) {
                let result = "";
                for (let i = 0; i < res.length; i++) {
                    result += "<tr>" +
                        "<td>" + res[i].id + "</td>"
                        + "<td>" + res[i].topic + "</td>"
                        + "<td>" + res[i].author + "</td>"
                        + "<td>" + res[i].eCommerce.name + "</td>"
                        + "</tr>";
                }
                $("#result").html(result);
            }
        })
    }

    let page = 0;
    var size = 5;
    loadMore();
    function loadMore() {
        console.log(page);
        $.ajax({
            url: `http://localhost:8080/api/blog/load-page?page=${page++}`,
            type: "get",
            dataType: "json",
            success: function (res) {
                console.log("success");
                console.log(res);
                let content = res.content;
                let newRow = "";
                for (let i = 0; i < content.length; i++) {
                    newRow += "<tr>" +
                        "<td>" + content[i].id + "</td>"
                        + "<td>" + content[i].topic + "</td>"
                        + "<td>" + content[i].author + "</td>"
                        + "<td>" + content[i].eCommerce.name + "</td>"
                        + "</tr>";

                }
                $("#result").append(newRow);
                if (page>=res.totalPages){
                    $("#btn-more").hide();
                }
            }
        })
    }
</script>

</body>
</html>